<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <h4 class="card-title">Striped progress</h4>
               <div class="progress m-t-20">
                <div class="progress-bar bg-primary progress-bar-striped active" 
                     style="height:10px;" 
                    [style.width]="getProgress1"
                     role="progressbar">
                </div>
            </div>
            <div class="progress m-t-20">
                <div class="progress-bar bg-info progress-bar-striped active" 
                     style="height:10px;" 
                    [style.width]="getProgress2"
                     role="progressbar">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
               <app-incrementer (valueChanged)="progress1=$event" [value]="progress1" [btnClass]="'btn btn-primary'"></app-incrementer>
            </div>
        </div>
    </div>
       <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer (valueChanged)="progress2=$event" [value]="progress2" [btnClass]="'btn btn-info'"></app-incrementer>
            </div>
        </div>
    </div>
</div>