<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-primary" 
                type="button" 
                (click)="changeValue(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input  type="text" 
            class="form-control" 
            placeholder="Progress"
            [(ngModel)]="progress"
            >
    <span class="input-group-btn">
        <button class="btn btn-primary" 
                type="button" 
                (click)="changeValue(5)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>