<div class="background-modal-image"
[class.hidden]="modalImageService.hideModal"
>
    <div id="responsive-modal" 
    class="modal fade show" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="myModalLabel" 
    style="display: block; padding-right: 15px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">×</button>
            </div>
            <div class="modal-body">
                <h3>Select image</h3>
                <div class="text-center">
                    <img *ngIf="!profilePicturePreview"  [src]="modalImageService.img" alt="" class='img-avatar'>
                    <img *ngIf="profilePicturePreview" [src]="profilePicturePreview" alt="" class='img-avatar'>
                </div>
                
                <input #uploadPictureProfile type="file"
                (change)="changeImg($any($event.target).files[0])"
                >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" (click)="updateProfilePicture()" >Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
