   <div class="row animated fadeIn fast">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <input type="text"
                                class="form-control"
                                placeholder="Search users..."
                                >
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  animated fadeIn fast">
                    <div class="col-12">
                     <div class="alert alert-info text-center" role="alert" >
                        <h4 class="alert-heading">Loading</h4>
                        <i class="fa fa-spin fa-refresh fa-2x"></i>
                        <p class="mb-0">Please wait</p>
                     </div>
                    </div>
                </div>
                <div class="row">

                
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Users</h4>
                            <h6 class="card-subtitle">
                                Users registered</h6>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Avatar</th>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Auth</th>
                                            <th class="text-nowrap">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users">
                                            <td>Imagen {{user.imgUrl}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.role}}</td>
                                            <td>
                                                <span *ngIf="user.google" class="label label-danger">Google</span>
                                                <span *ngIf="!user.google" class="label label-info">Email</span>

                                            </td>
                                            <!-- <td>
                                                <div class="progress progress-xs margin-vertical-10 ">
                                                    <div class="progress-bar bg-danger" style="width: 35% ;height:6px;"></div>
                                                </div>
                                            </td>
                                            <td>May 15, 2015</td> -->
                                            <td class="text-nowrap">
                                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-secondary">Before</button>
                            &nbsp;
                            <button class="btn btn-primary">Next</button>
                        </div>
                    </div>
                </div>
            </div>