  <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                         <h3>Users</h3>
                         <div *ngIf="users.length==0"
                            class="alert alert-info">
                            <p class="mb-0">There is no users with the term searched</p>
                         </div>
                         
                         <div class="table-responsive" *ngIf="users.length!=0">
                            <table class="table color-table primary-table">
                                <thead>
                                    <tr>
                                        <th class="w75">Avatar</th>
                                        <th>Name</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users" >
                                        
                                        
                                        <td><img [src]="(user.img||'') | image:'users'" [alt]="user.name" class="avatar"></td>
                                        <td>{{user.name}}</td>
                                        
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>   
                </div>
            </div>
        </div>
     
     
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3>Doctors</h3>
                    <div class="alert alert-info" *ngIf="doctors.length==0">
                        <p class="mb-0">There is no doctors with the term searched</p>
                     </div>
                           
                    <div class="table-responsive" *ngIf="doctors.length!=0">
                        <table class="table color-table primary-table">
                            <thead>
                                <tr >
                                    <th class="w75">Avatar</th>
                                    <th>Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doctor of doctors" (click)="openDoctor(doctor)" class="cursor">
                                    <td><img [src]="doctor.img | image:'doctors'" [alt]="doctor.name" class="avatar"></td>
                                    <td>{{doctor.name}}</td>
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3>Hospitals</h3>  
                    <div class="alert alert-info" *ngIf="hospitals.length==0">
                        <p class="mb-0">There is no hospitals with the term searched</p>
                     </div>
                     
                    <div class="table-responsive" *ngIf="hospitals.length!=0">
                        <table class="table color-table primary-table">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hospital of hospitals" >
                                    
                                    <td><img [src]="hospital.img | image:'hospitals'" [alt]="hospital.name" class="avatar"></td>
                                    <td>{{hospital.name}}</td>
                                    
                                </tr>
                             
                            </tbody>
                        </table>
                    </div>            
                </div>
            </div>
        </div>
    </div> 