  <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                         <h3>Users</h3>
                         <div class="alert alert-info">
                            <p class="mb-0">There is no users with the term searched</p>
                         </div>
                         
                         <div class="table-responsive">
                            <table class="table color-table primary-table">
                                <thead>
                                    <tr>
                                        <th>Avatar</th>
                                        <th>Name</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nigam</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Deshmukh</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Roshan</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>   
                </div>
            </div>
        </div>
     
     
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3>Doctors</h3>
                    <div class="alert alert-info">
                        <p class="mb-0">There is no doctors with the term searched</p>
                     </div>
                           
                    <div class="table-responsive">
                        <table class="table color-table primary-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Nigam</td>
                                    
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Deshmukh</td>
                                    
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Roshan</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3>Hospitals</h3>  
                    <div class="alert alert-info">
                        <p class="mb-0">There is no hospitals with the term searched</p>
                     </div>
                     
                    <div class="table-responsive">
                        <table class="table color-table primary-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Nigam</td>
                                    
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Deshmukh</td>
                                    
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Roshan</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>            
                </div>
            </div>
        </div>
    </div> 